.body {
  margin: 0;
  background-color: #222;
}

.header-up {
  background-image: url(./images/header.jpg);
  background-size: 100%;
}

.header-nav {
  background-color: #aaa;
  margin: 0;
  padding: 10px 0;
  border: 3px solid #222;
}

.logo {
  display: block;
  margin: auto;
  padding-top: 10%;
  font-size: 120% 10%;
  font-family: "Underdog";
  font-weight: bold;
  text-decoration: solid;
  color: #fff;
  text-align: center;
}

.creed {
  margin: 0;
  color: #ffee55;
  font-family: "Underdog";
}
